# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Ordered list of popular languages in Data Science
* Ordered list of common libraries in Data Science
* Table of tools in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Visual

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. PyTorch
3. Keras

| Data Science Tools |
|------------------|
|Jupyter|
|Anaconda|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335